@media (min-width:992px){
    .side-bar{
        display: none;
    }
}

@media (max-width:991px){
    .top-nav{
        display: none;
    }
}
@media (min-width:768px) and (max-width:990px){
    
/*
    .our-team{
        margin-top: 3rem;
    }
    
*/
}


@media (max-width:768px){
   
    .our-team{
        margin-top: 3rem;
    }
    
    .price-box{
        margin-top: 3rem;
    }
}

@media (min-width:481px) and (max-width:767px){
    
    .hero-text-box h1 {
        font-size: 3.3rem;
    }
    
    
    
    .our-team-box {
        padding: 0rem 11rem;
    }
}




@media (min-width:320px) and (max-width:480px){
    .left-nav{
        display: none;
    }
    
    
    .hero-text-box h1 {
        font-size: 2.2rem;
    }
    
    .banar-section{
        padding: 2.5rem 0.4rem;;
    }
    
    
    
    .section-heading p{
        width: 100%;
    }
    
    .section-heading h2::after{
        left: 33%;
    }
    
    .contact-section form{
        width: 100%;
        margin: 0;
    }
    
    .our-team-box {
        padding: 0rem 2rem;
    }
    
    .price-box sup{
        top: 13%;
        right: 3%;
    }
}