/*======================*/
/*BASIC SETUP*/
/*======================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}


ul li{
    list-style-type: none;
}






/*======================*/
/*REUSEABLE COMPONETS*/
/*======================*/



section{
    padding: 8rem 0;
}

.section-heading {
	padding-bottom: 1rem;
	position: relative;
	margin-bottom: 3rem;
}
.section-heading p{
    font-size: 1.6rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
h1{
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 2;
    padding-bottom: .3rem;
}

.section-heading h2::after {
	content: "";
	position: absolute;
	width: 10rem;
	height: .5rem;
	background: #887f7f;
	left: 46%;
	top: 30%;
}

h3{
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0rem;
}

/*======================*/
/*HEADER SECTION*/
/*======================*/

/*
header{
    background: linear-gradient(rgba(208, 208, 208, 0.95),rgba(208, 208, 208, 0.95)),url(img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    height: 90vh;
    position: relative;
}
*/

.top-nav{
    background: #3498DB;
}

.top-nav .left-nav ul li{
    float: left;
    font-size: 1.6rem;
    padding: 1rem 1rem;
    color: #fff;
}

.top-nav .left-nav ul li:first-child{
    font-weight: 600;
}

.top-nav .left-nav ul li svg{
    margin-right: .5rem;
}


.top-nav .right-nav{
    text-align: right;
}

.top-nav .right-nav ul li{
    display: inline-block;
    padding: 1rem;
    font-size: 1.6rem;
}


.top-nav .right-nav ul li a{
    color: #fff;
}

.top-nav .right-nav ul li:hover a{
    transform: rotate(306deg);
    transition: all .5s;
}


/*main nav*/

nav{
    background: #5DADE2;
}

.navbar-brand img{
    height: 5rem;
    width: auto;
}


.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: 600;
}

.navbar-expand-md .navbar-nav .nav-link{
    padding: 0rem 1.4rem;
}

.navbar-expand-md .navbar-nav .nav-link svg{
    margin-right: .3rem;
}

.navbar-nav li a{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
}

.sticky.scroll-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar .collapse .show .navbar-nav{
    margin-top: .5rem;
}
/*Banar Section*/

.banar-section{
    padding: 3rem 0rem;
}

.hero-text-box{
    text-align: center;
    width: 75rem;
    margin: auto;
    padding-bottom: 2rem;
}
.hero-image-box{
    width: 50rem;
    height: auto;
    margin: auto;
}

/*Side Social*/

.f1-f1 {
	text-transform: uppercase;
	padding: 10px;
	width: 190px;
	position: fixed;
	right: -154px;
	z-index: 998;
}
.f1-f1:hover{
    right: 0;
    transition: all .3s ease-in-out;
}
.callfor-support{
    background: red;
    top: 240px;
}

.facebook {
	top: 288px;
	background: #3b5999;
}

.twitter {
	top: 336px;
	background: #55acee;
}
.linkedin {
	top: 384px;
	background: #0077B5;
}

.f1-f1 a {
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 1.5rem;
}

.custom-fa{
    padding: 3px;
    width: 30px;
    margin-right:11px;
}

.custom-fa svg{
    font-size: 1.5rem;
}


/*Click Top*/

.click-top {
    width: 50px;
    height: 50px;
    background: #847f7f;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    z-index: 999;
}
.click-top:hover{
    background: red;
}
.click-top a{
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    
}
/*Banar Section*/

.banar-section{
    background: linear-gradient(rgba(208, 208, 208, 0.95),rgba(208, 208, 208, 0.95)),url(img/header-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}


.hero-text-box{
    text-align: center;
    top: 20%;
    left: 22%;
    width: 75rem;
    margin: auto;
}
.hero-image-box{
    
}
.hero-image-box img{
    width: 50rem;
    height: auto;
    margin: auto;
}



/*about-section*/

.about-section{
    text-align: center;
/*
    background: linear-gradient(rgba(136, 133, 133, 0.9),rgba(136, 133, 133, 0.9)),url(img/about-bg.jpg);
    background-size: cover;
    background-position: center center;
*/
}

.about-section .section-heading h2{
    letter-spacing: .1rem;
}

.about-section .section-heading h2::after{
    top: 77%;
}

.about-section .about-box{
    text-align: left;
}
.about-section .about-box h3{
    font-size: 1.8rem;
}
.about-section .about-box p{
    font-size: 1.6rem;
    text-align: justify;
    text-justify: inter-word;
}

.skill-content{
    text-align: left;
}

.skill-content p{
    font-size: 1.6rem;
    font-weight: 600;
    color: #737373;
}
/*Skill Barfiller*/

.barfiller {
  width: 100%;
  height: 20px;
  background: #fcfcfc;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 20px;
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
}

.barfiller .tipWrap { display: none; }

.barfiller .tip {
  margin-top: -30px;
  padding: 2px 4px;
  font-size: 11px;
  color: #fff;
  left: 0px;
  position: absolute;
  z-index: 2;
  background: #000;
}

.barfiller .tip1{
    background: #36c36e;
}
.barfiller .tip2{
    background: #108BF5;
}
.barfiller .tip3{
    background: #6071D1;
}
.barfiller .tip4{
    background: #E86161;
}
.barfiller .tip5{
    background: #6C2EB9;
}

.barfiller .tip:after {
  border: solid;
  border-color: rgba(0,0,0,.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}

.barfiller .tip1::after {
    content: "";
    border-color:rgba(54, 195, 110, 0.8) transparent;
}

.barfiller .tip2::after {
    content: "";
    border-color:rgba(16, 139, 245, 0.8) transparent;
}

.barfiller .tip3::after {
    content: "";
    border-color:rgba(96, 113, 209, 0.8) transparent;
}

.barfiller .tip4::after {
    content: "";
    border-color:rgba(232, 97, 97, 0.8) transparent;
}

.barfiller .tip5::after {
    content: "";
    border-color:rgba(108, 46, 185, 0.8) transparent;
}

/*services-section*/

.services-section{
    text-align: center;
    background:  linear-gradient(rgba(229, 224, 224, 0.7),rgba(229, 224, 224, 0.7)),url(img/services-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.service-box{
    overflow: hidden;
    background: #fff;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 1rem;
    margin-top: 3rem;
}


.service-box .icon{
    position: relative;
    width: 8rem;
    height: 8rem;
    background: #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 4rem;
    font-weight: 700;
    border: 0;
    transition: 1s;
}

.service-box .icon svg{
    color: #fff;
}
.service-box .service-content{
    position: relative;
    z-index: 1;
}

.service-box .service-content p{
    font-size: 1.6rem;
}

.service-box:hover .service-content{
    color: #fff;
}
.service-box .icon1{
    box-shadow: 0 0 0 0 #E74C3C;
    background: #E74C3C;
}

.service-box:hover .icon1{
    box-shadow: 0 0 0 400px #E74C3C;
    border: 0;
}

.service-box .icon2{
    box-shadow: 0 0 0 0 #808B96;
    background: #808B96;
}

.service-box:hover .icon2{
    box-shadow: 0 0 0 400px #808B96;
}

.service-box .icon3{
    box-shadow: 0 0 0 0 #2E86C1;
    background: #2E86C1;
}

.service-box:hover .icon3 {
    box-shadow: 0 0 0 400px #2E86C1;
}

.service-box .icon4 {
    box-shadow: 0 0 0 0 #229954;
    background: #229954;
}

.service-box:hover .icon4 {
    box-shadow: 0 0 0 400px #229954;
}

.service-box .icon5 {
    box-shadow: 0 0 0 0 #D35400;
    background: #D35400;
}

.service-box:hover .icon5 {
    box-shadow: 0 0 0 400px #D35400;
}

.service-box .icon6 {
    box-shadow: 0 0 0 0 #D40AD4; 
    background: #D40AD4;
}

.service-box:hover .icon6{
    box-shadow: 0 0 0 400px #D40AD4;
}


/*our team*/

.ourteam-section{
    background: #eee;
    text-align: center;
}

.our-team{
    position: relative;
    padding: 3rem 0rem 4rem;
    background: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 1.5rem;
}


.our-team .team-image{
    display: inline-block;
    width: 13rem;
    height: 13rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
}

.our-team .team-image::before{
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: #eb1768;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .team-image::before{
    height: 100%;
}

.our-team .team-image::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #eb1768;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .team-image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .team-image img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .team-content{
    margin-bottom: 3rem;
}

.our-team .team-content .title{
    font-size: 2.2rem;
    font-weight: 700;
    color: #4e5052;
    padding: 0;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
}

.our-team .team-content .post{
    display: block;
    font-size: 1.6rem;
    color: #4e5052;
    text-transform: capitalize;
    
}

.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #eb1768;
    position: absolute;
    bottom: -10rem;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social{
    bottom: 0;
}

.our-team .social li{
    display: inline-block;
}

.our-team .social li a{
    display: block;
    padding: 1rem 1.3rem;
    font-size: 1.7rem;
    color: #fff;
    transition: all 0.5s ease 0s;
}

.our-team .social li a:hover{
    background: #f7f5ec;
    color: #eb1768;
    text-decoration: none;
}

/*Pricing Section*/

.pricing-section{
    background: #ececec;
    text-align: center;
}

.price-box{
    background: #fff;
    border-radius: 2rem;
    position: relative;
    transition: all 0.5s;
}

.packege-title{
    background: #ce1202;
    padding: 1rem 0rem;
    
}

.packege-title h4{
    font-size: 3rem;
    color: #fff;
}

.price-unit{
    background: #dd4c0c;
    padding-bottom: 5rem;
    padding-top: 2rem;
    border-bottom-left-radius: 10rem;
}

.price-unit h3{
    color: #fff;
    font-size: 6rem;
}

.dolar-sign{
    font-size: 3rem;
}

.price-box sup {
	position: absolute;
	top: 14%;
}

.packege-details{
    text-align: left;
    padding: 4rem;
}

.packege-details ul li{
    font-size: 1.6rem;
    padding: .3rem 0rem;
}

.packege-details ul li svg{
    margin-right: 1.5rem;
}

.basic ul li svg{
    color: #ce1202;
}

.standard ul li svg{
    color: #21618C;
}

.premium ul li svg{
    color: #1D8348;
}

.price-box p a {
	font-size: 1.6rem;
	font-weight: 600;
	color: #242222;
	text-decoration: none;
}

.order-btn{
    padding-bottom: 3rem;
}

.btn-2 {
  background-color: #00AFD1;
}
.btn-2 .round {
  background-color: #00c4eb;
}

.order-btn a {
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  transition: all 0.3s;
  display: inline-block;
}
.order-btn a span {
  position: relative;
  z-index: 3;
}
.order-btn a .round {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.order-btn a .round svg {
  position: absolute;
  top: 32%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  transition: all 0.3s;
    font-size: 2.5rem;
}

.order-btn .txt {
  font-size: 14px;
  line-height: 1.45;
}

.order-btn a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.order-btn a:hover .round {
  width: calc(100% - 6px);
  border-radius: 30px;
}
.order-btn a:hover .round svg {
  left: 12%;
}




/*Counter Section*/

.counter-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    padding: 1rem 0rem;
}
.counter-box{
/*    background: rgba(190, 189, 189, 0.15);*/
    padding: 2rem 0rem;
    border-radius: 1rem;
}
.counter-number h3 {
	color: #108BF5;
	font-size: 6rem;
	font-weight: 700;
	padding: 0;
	margin-top: 1rem;
}

.counter-title p{
    color: #b0b0b0;
    font-size: 2.5rem;
}


/*Portfolio Section*/

.porfolio-section{
    text-align: center;
}


.portfolio-filter{
    margin: 4.5rem;
}

.portfolio-filter button{
    background: #2E86C1;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    margin: 0 .5rem;
    color: #fff;
    font-weight: 600;
}

.portfolio-filter button:hover {
	cursor: pointer;
	box-shadow: inset 0 .3rem .5rem rgba(151, 149, 144, 0.5);
}
/*Testmonial Section*/
.testmonial-section{
    text-align: center;
}

.client-review {
	margin: 22px auto;
/*	background: #ffffff;*/
	padding: 20px 12px;
	text-align: center;
	color: #000;
	position: relative;
	border: 2px solid #dbdada;
	float: right;
	margin-right: 3rem;
	border-radius: .7rem;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.client-review:hover {
	box-shadow: 5px 5px 6px #aca9a9;
    
}

.client-review p{
    font-size: 1.6rem;
    text-align: justify;
    text-justify: inter-word;
}

.sb4:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #dbdada;
  border-top: 10px solid #dbdada;
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -20px;
}

.client-data {
	float: right;
	display: block;
}
.client-title {
	float: left;
    padding: 1rem;
    text-align: right;
}
.client-title h3 {
	margin: 0;
    padding: 0;
	font-size: 1.8rem;
	font-weight: 700;
}
.client-title .role{
    margin: 0;
    color: #666666;
    font-size: 1.5rem;
}

.client-photo {
	position: relative;
	text-align: center;
	float: right;
	display: block;
	width: 7rem;
	margin-right: 1rem;
}

.client-photo img{
    display: inline-block;
    height: 6rem;
    border-radius: 50%;
}


/*Contact Section*/
.contact-section{
    text-align: center;
    background: linear-gradient(rgba(60, 84, 153, 0.9),rgba(60, 84, 153, 0.9)),url(img/contact-bg.jpg);
}

.contact-section .section-heading{
    color: #fff;
}

.contact-section .section-heading h2::after {
	background: #113d73;
	top: 38%;
	left: 46%;
}

.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
    
}

.contact-section .btn-submit {
	background: #30bae7;
	border-bottom: .3rem solid #299ec5;
	border: 0;
	padding: 2rem 5rem;
	margin-top: 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.contact-section .btn-submit:hover{
    cursor: pointer;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    margin: .5rem 0;
    color: #fff;
}

.contact-section form ::placeholder{
    color: #fff;
    opacity: 1;
}


/*Footer Section*/
.footer-section {
	padding: 1rem 0rem;
	background: #a6a3a3;
}
.summary-content p{
    font-size: 1.6rem;
    text-align: justify;
    text-justify: inter-word;
}


.footer {
	text-align: center;
	background: #959292;
}


.footer p {
	margin: 0;
	padding: 2rem 0rem;
	font-size: 1.6rem;
	font-weight: 600;
	color: #104a7b;
}